i2f-jdk/i2f-jdbc-procedure/src/main/java/i2f/jdbc/procedure/procedure.dtd

<!-- procedure.dtd -->

        <!ELEMENT procedure (
                lang-println*
                |lang-printf*
                |script-segment*
                |script-include*
                |lang-body*
                |lang-set*
                |lang-format-date*
                |lang-format*
                |lang-string-join*
                |lang-new-params*
                |procedure-call*
                |lang-return*
                |lang-throw*
                |lang-eval*
                |lang-string*
                |lang-render*
                |lang-if*
                |lang-choose*
                |lang-foreach*
                |lang-fori*
                |lang-while*
                |lang-invoke*
                |lang-try*
                |lang-synchronized*
                |sql-query-row*
                |sql-query-list*
                |sql-query-object*
                |sql-update*
                |sql-trans-begin*
                |sql-trans-commit*
                |sql-trans-rollback*
                |sql-trans-none*
                |lang-async*
                |lang-latch*
                |lang-async-all*
                |lang-latch-await*
                |lang-latch-down*
                |sql-cursor*
                |lang-eval-java*
                |lang-eval-javascript*
                |sql-scope*
                |lang-sleep*
                |sql-etl*
                )>
        <!ATTLIST procedure id CDATA #IMPLIED>


        <!ELEMENT lang-println (ANY|EMPTY)>
        <!ATTLIST lang-println tag CDATA #IMPLIED>

        <!ATTLIST lang-println tag.string CDATA #IMPLIED>

        <!ELEMENT lang-printf (ANY|EMPTY)>
        <!ATTLIST lang-printf tag CDATA #IMPLIED>
        <!ATTLIST lang-printf value CDATA #IMPLIED>

        <!ATTLIST lang-printf tag.string CDATA #IMPLIED>

        <!ELEMENT script-segment (ANY)>
        <!ATTLIST script-segment id CDATA #REQUIRED>

        <!ELEMENT script-include (ANY|EMPTY)>
        <!ATTLIST script-include refid CDATA #REQUIRED>

        <!ELEMENT lang-set (ANY|EMPTY)>
        <!ATTLIST lang-set value CDATA #IMPLIED>
        <!ATTLIST lang-set radix CDATA #IMPLIED>
        <!ATTLIST lang-set pattern CDATA #IMPLIED>
        <!ATTLIST lang-set result CDATA #IMPLIED>

        <!ATTLIST lang-set value.int CDATA #IMPLIED>
        <!ATTLIST lang-set value.string CDATA #IMPLIED>
        <!ATTLIST lang-set value.boolean CDATA #IMPLIED>
        <!ATTLIST lang-set value.double CDATA #IMPLIED>
        <!ATTLIST lang-set value.date CDATA #IMPLIED>
        <!ATTLIST lang-set value.eval CDATA #IMPLIED>
        <!ATTLIST lang-set value.test CDATA #IMPLIED>
        <!ATTLIST lang-set value.visit CDATA #IMPLIED>
        <!ATTLIST lang-set value.eval-java CDATA #IMPLIED>
        <!ATTLIST lang-set result.int CDATA #IMPLIED>
        <!ATTLIST lang-set result.string CDATA #IMPLIED>
        <!ATTLIST lang-set result.boolean CDATA #IMPLIED>
        <!ATTLIST lang-set result double #IMPLIED>
        <!ATTLIST lang-set result.date CDATA #IMPLIED>

        <!ELEMENT lang-format-date (ANY|EMPTY)>
        <!ATTLIST lang-format-date value CDATA #IMPLIED>
        <!ATTLIST lang-format-date pattern CDATA #IMPLIED>
        <!ATTLIST lang-format-date result CDATA #REQUIRED>

        <!ELEMENT lang-format (ANY|EMPTY)>
        <!ATTLIST lang-format value CDATA #IMPLIED>
        <!ATTLIST lang-format pattern CDATA #IMPLIED>
        <!ATTLIST lang-format result CDATA #REQUIRED>

        <!ELEMENT lang-string-join (ANY|EMPTY)>
        <!ATTLIST lang-string-join separator CDATA #IMPLIED>
        <!ATTLIST lang-string-join result CDATA #IMPLIED>
        <!ATTLIST lang-string-join result.trim CDATA #IMPLIED>

        <!ELEMENT lang-new-params (ANY|EMPTY)>
        <!ATTLIST lang-new-params result CDATA #REQUIRED>

        <!ELEMENT procedure-call (ANY|EMPTY)>
        <!ATTLIST procedure-call params CDATA #IMPLIED>
        <!ATTLIST procedure-call refid CDATA #REQUIRED>
        <!ATTLIST procedure-call result CDATA #IMPLIED>

        <!ELEMENT lang-return (EMPTY)>

        <!ELEMENT lang-throw (ANY|EMPTY)>
        <!ATTLIST lang-throw value CDATA #IMPLIED>
        <!ATTLIST lang-throw type CDATA #REQUIRED>
        <!ATTLIST lang-throw cause CDATA #IMPLIED>

        <!ELEMENT lang-eval (ANY|EMPTY)>
        <!ATTLIST lang-eval value CDATA #IMPLIED>
        <!ATTLIST lang-eval result CDATA #IMPLIED>

        <!ELEMENT lang-string (ANY|EMPTY)>
        <!ATTLIST lang-string result CDATA #IMPLIED>
        <!ATTLIST lang-string result.trim CDATA #IMPLIED>

        <!ELEMENT lang-render (ANY|EMPTY)>
        <!ATTLIST lang-render result CDATA #IMPLIED>
        <!ATTLIST lang-render result.trim CDATA #IMPLIED>

        <!ELEMENT lang-if (ANY|EMPTY)>
        <!ATTLIST lang-if test CDATA #REQUIRED>

        <!ELEMENT lang-choose (lang-when*|lang-otherwise?)>

        <!ELEMENT lang-when (ANY|EMPTY)>
        <!ATTLIST lang-when test CDATA #REQUIRED>

        <!ELEMENT lang-otherwise (ANY|EMPTY)>

        <!ELEMENT lang-foreach (ANY|EMPTY)>
        <!ATTLIST lang-foreach collection CDATA #REQUIRED>
        <!ATTLIST lang-foreach item CDATA #IMPLIED>
        <!ATTLIST lang-foreach first CDATA #IMPLIED>
        <!ATTLIST lang-foreach index CDATA #IMPLIED>

        <!ELEMENT lang-fori (ANY|EMPTY)>
        <!ATTLIST lang-fori begin CDATA #IMPLIED>
        <!ATTLIST lang-fori end CDATA #IMPLIED>
        <!ATTLIST lang-fori incr CDATA #IMPLIED>
        <!ATTLIST lang-fori item CDATA #IMPLIED>
        <!ATTLIST lang-fori first CDATA #IMPLIED>
        <!ATTLIST lang-fori index CDATA #IMPLIED>

        <!ATTLIST lang-fori begin.int CDATA #IMPLIED>
        <!ATTLIST lang-fori end.int CDATA #IMPLIED>
        <!ATTLIST lang-fori incr.int CDATA #IMPLIED>

        <!ELEMENT lang-while (ANY|EMPTY)>
        <!ATTLIST lang-while test CDATA #REQUIRED>
        <!ATTLIST lang-while first CDATA #IMPLIED>
        <!ATTLIST lang-while index CDATA #IMPLIED>

        <!ELEMENT lang-continue (EMPTY)>

        <!ELEMENT lang-break (EMPTY)>

        <!ELEMENT lang-invoke (ANY|EMPTY)>
        <!ATTLIST lang-invoke method CDATA #REQUIRED>
        <!ATTLIST lang-invoke target CDATA #IMPLIED>
        <!ATTLIST lang-invoke result CDATA #IMPLIED>

        <!ELEMENT lang-try (lang-body|lang-catch*|lang-finally?)>

        <!ELEMENT lang-body (ANY|EMPTY)>

        <!ELEMENT lang-catch (ANY|EMPTY)>
        <!ATTLIST lang-catch type CDATA #IMPLIED>
        <!ATTLIST lang-catch e CDATA #IMPLIED>

        <!ELEMENT lang-finally (ANY|EMPTY)>

        <!ELEMENT lang-synchronized (ANY|EMPTY)>
        <!ATTLIST lang-synchronized target CDATA #IMPLIED>

        <!ELEMENT sql-query-row (EMPTY|sql-dialect*
                |#PCDATA|where|if*|foreach*|trim*|set|choose*|include*
                )>
        <!ATTLIST sql-query-row datasource CDATA #IMPLIED>
        <!ATTLIST sql-query-row script CDATA #IMPLIED>
        <!ATTLIST sql-query-row result CDATA #IMPLIED>
        <!ATTLIST sql-query-row result-type CDATA #IMPLIED>

        <!ELEMENT sql-query-list (EMPTY|sql-dialect*
                |#PCDATA|where|if*|foreach*|trim*|set|choose*|include*
                )>
        <!ATTLIST sql-query-list datasource CDATA #IMPLIED>
        <!ATTLIST sql-query-list script CDATA #IMPLIED>
        <!ATTLIST sql-query-list result CDATA #IMPLIED>
        <!ATTLIST sql-query-list result-type CDATA #IMPLIED>

        <!ELEMENT sql-query-object (EMPTY|sql-dialect*
                |#PCDATA|where|if*|foreach*|trim*|set|choose*|include*
                )>
        <!ATTLIST sql-query-object datasource CDATA #IMPLIED>
        <!ATTLIST sql-query-object script CDATA #IMPLIED>
        <!ATTLIST sql-query-object result CDATA #IMPLIED>
        <!ATTLIST sql-query-object result-type CDATA #IMPLIED>

        <!ELEMENT sql-update (EMPTY|sql-dialect*
                |#PCDATA|where|if*|foreach*|trim*|set|choose*|include*
                )>
        <!ATTLIST sql-update datasource CDATA #IMPLIED>
        <!ATTLIST sql-update script CDATA #IMPLIED>
        <!ATTLIST sql-update result CDATA #IMPLIED>
        <!ATTLIST sql-update result-type CDATA #IMPLIED>

        <!ELEMENT sql-dialect (EMPTY
                |#PCDATA|where|if*|foreach*|trim*|set|choose*|include*
                )>
        <!ATTLIST sql-dialect script CDATA #IMPLIED>
        <!ATTLIST sql-dialect databases CDATA #IMPLIED>

        <!-- for mybatis tag begin -->
        <!ELEMENT where (#PCDATA|if*|foreach*|trim*|choose*|include*)>

        <!ELEMENT if (#PCDATA|where|if*|foreach*|trim*|set|choose*|include*)>
        <!ATTLIST if test CDATA #REQUIRED>

        <!ELEMENT foreach (#PCDATA|if*|foreach*|trim*|choose*|include*)>
        <!ATTLIST foreach collection CDATA #REQUIRED>
        <!ATTLIST foreach item CDATA #REQUIRED>
        <!ATTLIST foreach open CDATA #IMPLIED>
        <!ATTLIST foreach separator CDATA #IMPLIED>
        <!ATTLIST foreach close CDATA #IMPLIED>

        <!ELEMENT trim (#PCDATA|where|if*|foreach*|trim*|set|choose*|include*)>
        <!ATTLIST trim prefix CDATA #IMPLIED>
        <!ATTLIST trim suffix CDATA #IMPLIED>
        <!ATTLIST trim prefixOverrides CDATA #IMPLIED>
        <!ATTLIST trim suffixOverrides CDATA #IMPLIED>

        <!ELEMENT set (#PCDATA|if*|foreach*|trim*|choose*|include*)>

        <!ELEMENT choose (when*|otherwise)>

        <!ELEMENT include (EMPTY|#PCDATA)>
        <!ATTLIST include refid CDATA #REQUIRED>

        <!ELEMENT when (#PCDATA|where|if*|foreach*|trim*|set|choose*|include*)>
        <!ATTLIST when test CDATA #REQUIRED>

        <!ELEMENT otherwise (#PCDATA|where|if*|foreach*|trim*|set|choose*|include*)>

        <!-- for mybatis tag end -->

        <!ELEMENT sql-trans-begin (EMPTY)>
        <!ATTLIST sql-trans-begin datasource CDATA #IMPLIED>
        <!ATTLIST sql-trans-begin isolation CDATA #IMPLIED>

        <!ELEMENT sql-trans-commit (EMPTY)>
        <!ATTLIST sql-trans-commit datasource CDATA #IMPLIED>

        <!ELEMENT sql-trans-rollback (EMPTY)>
        <!ATTLIST sql-trans-rollback datasource CDATA #IMPLIED>

        <!ELEMENT sql-trans-none (EMPTY)>
        <!ATTLIST sql-trans-none datasource CDATA #IMPLIED>

        <!ELEMENT lang-async (ANY|EMPTY)>
        <!ATTLIST lang-async await CDATA #IMPLIED>
        <!ATTLIST lang-async delay CDATA #IMPLIED>
        <!ATTLIST lang-async time-unit CDATA #IMPLIED>

        <!ELEMENT lang-latch (EMPTY)>
        <!ATTLIST lang-latch count CDATA #IMPLIED>
        <!ATTLIST lang-latch result CDATA #REQUIRED>

        <!ELEMENT lang-async-all (lang-async*)>
        <!ATTLIST lang-async-all await CDATA #IMPLIED>

        <!ELEMENT lang-latch-down (EMPTY)>
        <!ATTLIST lang-latch-down name CDATA #REQUIRED>

        <!ELEMENT lang-latch-await (EMPTY)>
        <!ATTLIST lang-latch-await name CDATA #REQUIRED>
        <!ATTLIST lang-latch-await timeout CDATA #IMPLIED>
        <!ATTLIST lang-latch-await time-unit CDATA #IMPLIED>

        <!ELEMENT sql-cursor (sql-query-list|lang-body)>
        <!ATTLIST sql-cursor batch-size CDATA #IMPLIED>
        <!ATTLIST sql-cursor item CDATA #IMPLIED>
        <!ATTLIST sql-cursor accept-batch CDATA #IMPLIED>

        <!ELEMENT lang-eval-java (lang-java-import?|lang-java-member?|lang-java-body?|#PCDATA)>
        <!ATTLIST lang-eval-java result CDATA #IMPLIED>

        <!ELEMENT lang-java-import (#PCDATA)>

        <!ELEMENT lang-java-member (#PCDATA)>

        <!ELEMENT lang-java-body (#PCDATA)>

        <!ELEMENT lang-eval-javascript (#PCDATA)>
        <!ATTLIST lang-eval-javascript result CDATA #IMPLIED>

        <!ELEMENT sql-scope (#PCDATA)>
        <!ATTLIST sql-scope datasources CDATA #IMPLIED>

        <!ELEMENT lang-sleep (EMPTY)>
        <!ATTLIST lang-sleep timeout CDATA #IMPLIED>
        <!ATTLIST lang-sleep time-unit CDATA #IMPLIED>

        <!ELEMENT sql-etl (sql-query-list|etl-transform+|etl-load|etl-before|etl-after)>
        <!ATTLIST sql-etl read-batch-size CDATA #IMPLIED>
        <!ATTLIST sql-etl write-batch-size CDATA #IMPLIED>
        <!ATTLIST sql-etl before-truncate CDATA #IMPLIED>
        <!ATTLIST sql-etl commit-size CDATA #IMPLIED>

        <!ELEMENT etl-transform (EMPTY)>
        <!ATTLIST etl-transform source CDATA #IMPLIED>
        <!ATTLIST etl-transform target CDATA #IMPLIED>

        <!ATTLIST etl-transform source.visit CDATA #IMPLIED>
        <!ATTLIST etl-transform source.eval CDATA #IMPLIED>
        <!ATTLIST etl-transform source.eval-java CDATA #IMPLIED>
        <!ATTLIST etl-transform source.test CDATA #IMPLIED>

        <!ELEMENT etl-load (EMPTY)>
        <!ATTLIST etl-load datasource CDATA #IMPLIED>
        <!ATTLIST etl-load table CDATA #IMPLIED>

        <!ELEMENT etl-before (ANY)>

        <!ELEMENT etl-after (ANY)>